
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
allure-results/
test-results/
allure-report/
report-db/
test-results/
# Playwright storage state files (your current filenames)
*.auth

# If you also use a .auth folder
.auth/
